.clients {
  margin-top: 7.5rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    background: url("/dist/img/clients/bg.png") no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media (max-width: 992px) {
    margin-top: 4rem;
    background-color: #1085e4;
  }
}

.clients__inner {
  @include margin-minus;
  padding-top: 4rem;

  @media (max-width: 1560px) {
    padding-top: 2rem;
  }

  @media (max-width: 992px) {
    padding-bottom: 2rem;
  }
}

.clients__title {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 600;
  color: #ffffff;

  @media (max-width: 1560px) {
    margin-bottom: 2rem;
  }

  @media (max-width: 1200px) {
    text-align: center;
  }

  @media (max-width: 576px) {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.clients__title span {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 3;
  text-transform: uppercase;
  color: #85c8ff;

  display: block;
}

// Clients list
.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1200px) {
    justify-content: space-evenly;
  }
}

.clients__item {
  padding: 2.5rem 3.7rem 2.5rem 2.5rem;

  flex-basis: 31.5%;

  border-radius: $brd-rad-10;
  background: #ffffff;
  box-shadow: 0 16px 32px 0 rgba(185, 185, 185, 0.2);

  @media (max-width: 1200px) {
    padding: 2rem 2rem 2rem 2rem;

    flex-basis: 30%;
  }

  @media (max-width: 992px) {
    margin-bottom: 2rem;
    flex-basis: 45%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 576px) {
    flex-basis: 80%;
  }
}

.clients__text {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #8085b1;
}

// Clients info
.clients__info {
  display: flex;
  align-items: center;
}

.clients__img {
  margin-right: 1.25rem;
}

.clients__name {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000958;
}

.clients__position {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $blue;
}
