.grid {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  @media (max-width: 992px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.grid__inner {
  @include margin-minus;
}

.grid__title {
  margin-bottom: 3rem;

  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  color: $blue-title;

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

.grid__title span {
  display: block;

  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: $blue;
}

// Grid item
.grid__list {
  @include padding-plus;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  @media (max-width: 992px) {
    justify-content: center;
  }
}

.grid__item {
  flex-basis: 32%;

  margin-bottom: 1.875rem;
  padding: 2.5rem 2.5rem 3.75rem;

  text-align: center;
  font-weight: 600;

  box-shadow: 0 8px 16px 0 rgba(180,180,181,.2);


  @media (max-width: 992px) {
    flex-basis: 40%;
    margin-right: 1.5rem;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    flex-basis: 60%;
    margin-right: 0;
  }

  @media (max-width: 576px) {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.grid__item-img {
  margin-bottom: 1.875rem;
}

.grid__item-title {
  margin-bottom: 1.25rem;

  font-size: 1.25rem;
  line-height: 2.5;
  color: $blue-title;
}

.grid__item-text,
.grid__text {
  margin-bottom: 1.25rem;

  font-size: 1rem;
  line-height: 1.6;
  color: $blue-text;
}

.grid__item-link {
  font-size: 0.875rem;
  line-height: 1.8;
  color: $blue;

  &:hover {
    color: darken(#1085e4, 15%);
  }
}

// Grid content

.grid__content {
  @include padding-plus;

  @media (max-width: 992px) {
    margin: 0 auto;
    width: 80%;
  }

  @media (max-width: 768px) {
    width: 60%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.grid__caption {
  font-size: 0.875rem;
  color: $blue;
}

.grid__caption span {
  font-weight: 700;
  color: $blue-title;
}
