
// Page colors
$white: #ffffff;
$blue-title: #192b59;
$blue-text: #7581a1;
$blue: #1085e4;

// Section colors
$features-title: #5a6789;
$number-color: #bacbdc;

// Border
$brd-rad-35: 35px;
$brd-rad-30: 30px;
$brd-rad-25: 25px;
$brd-rad-10: 10px;
